  @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');

  html {
    background: rgb(32, 36, 104);
    background: linear-gradient(315deg, rgba(32, 36, 104, 1) 0%, rgba(46, 55, 172, 1) 100%);
  }

  body {
    margin: 0;
  }

  .mytabs {
    display: flex;
    flex-wrap: wrap;
    height: 100svh;
    align-content: flex-start;
  }

  .mytabs input[type="radio"] {
    display: none;
  }

  .mytabs .icone {
    padding: 25px;
    font-weight: bold;
  }

  .mytabs .tab {
    width: 100%;
    order: 1;
    display: none;
  }

  .mytabs .tab h2 {
    font-size: 3em;
  }

  .mytabs input[type='radio']:checked+label+.tab {
        display: block;
  }

  .mytabs input[type="radio"]:checked+label {}
  
   
  .menu {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .icone {
    filter: invert(90%);
    font-size: 22px;
    position: absolute;
  }

  .icon1:hover::before {
    content: "about";
    animation: animatedContent 1s;
    color: #cfcfcfc;
    font-family: 'Wix Madefor Display', sans-serif;
  }

  .icon2:hover::before {
    content: "home";
    animation: animatedContent 1s;
    color: #cfcfcfc;
    font-family: 'Wix Madefor Display', sans-serif;
  }

  .icon3:hover::before {
    content: "profile";
    animation: animatedContent 1s;
    color: #cfcfcfc;
    font-family: 'Wix Madefor Display', sans-serif;
  }

  .icon2 {
    left: 8%;
  }

  .icon3 {
    right: 0%;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .icon5{
    padding: 10px;
    background: #cecece;
    border-radius: 50%;
    /* filter: invert(1); */
    position: absolute;
    /* right: 0; */
    /* top: 0; */
    margin: -15px;
  }

  .main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1,
  p {
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    color: #cfcfcf;
    margin: 0;
  }

  blink {
    font-size: 25px;
    animation: blink 1.2s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0
    }

    49% {
      opacity: 0
    }

    50% {
      opacity: 1
    }
  }

  .cat {
    animation-name: cat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
  }

  .cat {
    width: 300px;
    height: 300px;
  }

  @keyframes cat {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 15px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }

  h3 {
    font-family: 'Wix Madefor Display', sans-serif;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  #submit,
  #submit2,
  .btn, #submit6{
    width: 25%;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    line-height: 12px;
  }

  #submit:hover,
  #submit2:hover,
  .btn:hover,
  #submit6:hover{
    background-color: #34319c;
    color: white;
    transition: 0.5s;
  }

  .tab {
    height: 100%;
  }

  #nickname {
    font-family: 'Wix Madefor Display', sans-serif;
    color: #181818;
    margin-right: 10px;
    line-height: 1.2;
    font-size: 20px;
  }

  #nickname2 {
    text-align: center;
    margin: 15px 0px 0px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: large;
    margin: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #cecece;
    margin: 20px 0px 0px;
    width: max-content;
  }

  .tudo {
    position: relative;
    width: 300px;
    height: 295px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  
  .sign {
    display: flex;
    flex-direction: column;
  }

  .box {
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  
  .forgot{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 23px;
    margin-top: 8px;
    font-size: 14px;
  }

  .tudo .forms {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .tudo .forms.log {
    /*display: none;*/
  }

  .tudo.active .forms.log {
    transition: none;
    transform: translateX(0px)
  }

  .tudo .forms.sign {
    position: absolute;
    transform: translateX(400px);
    border-radius: 10px;
  }

  .tudo.active .forms.log {
    transition: none;
    transform: translateX(-400px)
  }

  .tudo.active .forms.sign {
    transition: none;
    transform: translateX(0px)
  }
  
  .forgot:focus.log{
      display:none;
  }

  input {
    margin: 5px 20px;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background: #cecece61;
  }

  input:focus {
    outline-style: none;
    box-shadow: 0 0 2px 2px #3091d7;
    transition: 0.2s ease-in-out;
  }

  h3,
  p {
    margin: 10px;
  }

  #body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text1 {
    color: black;
    font-size: 15px;
    text-align: center;
    margin: 10px;
  }

  a {
    text-decoration: none;
    display: none;
    font-family: 'Wix Madefor Display', sans-serif;
    cursor: pointer;
  }
  
  .out{
    color: #202124;
    display: none;
    font-size: 24px;
    margin: 8px;
    line-height: 0;
}

  #profile {
    height: 100%;
    display: none;
  }

  .conta {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mainly{
      width: 70%;
  }

  .perfil {
    background: white;
    width: 100%;
    height: 70%;
    border-radius: 25px;
    display: flex;
  }
  
  .pictur{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

    
  .cropped {
    width: 160px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #cecece;
    padding: 0;
  }

  .inferior {
    height: 50%;
    width: 100%;
    display: flex;
  }

  .desc {
    height: 100%;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .timeline {
    height: 100%;
    width: 100%;
  }
  .fa-sign-out-alt:before{
    position: absolute;
    line-height: 0.4;
  }
  
  .register{
      color: blue;
      display: inline-block;
  }
  
  #bios2 {
    margin: 15px 15px 0px;
  }

  #teste,
  #teste1 {
    resize: none;
    white-space: ;
    outline: none;
    margin: 0px;
    border: none;
    overflow: hidden;
    box-shadow: none;
    padding: 0px;
    font-size: 16px;
    width: 100%;
    background: white;
    text-align: center;
    border-bottom: 1px solid #cecece;
    border-radius: 0px;
  }

  #submit3,
  #submit35,
  #submit4,
  #submit5 {
    float: right;
    background: none;
    border: none;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16px;
    padding: 0;
    color: #222771;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #teste1{
      margin:15px 0px 5px;
  }

  #submit4 {
    right: 0;
  }
  
  #submit35{
      width: fit-content;
  }

  #submit3:hover,
  #submit4:hover,
  #submit5:hover,
  #submit35:hover{
    color: #0396ff;
  }

  #nomeprof {
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 10px 0px 0px;
    font-family: 'Wix Madefor Display', sans-serif;
  }

  #submit5 {
    display: block;
  }
  
  #input-file{
      display: none;
  }
  
  .profpic{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #salvar{
      background: transparent;
      border:none;
      border-radius: 50%;
      color: white;
      font-size: 20px;
      font-family: 'Wix Madefor Display', sans-serif;
  }
  
  #salvar:hover{
      background:#0000008f;
      width: 160px;
      height: 160px;  
      transition: all 0.5s ease-in-out;
  }
  
  .pic2{
  height: 90%;
  border-radius: 5%;
  top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.popup{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
}

.pass{
    position: absolute;
    transform: scale(0);
    transform: height .2s ease;
}

#cropped2{
    max-width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popu2{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
}

.X{
  color: white;
  font-size: 40px;
  top: 0;
  margin: 20px;
  position: absolute;
}


.page {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    color: black;
    font-size: 15px;
    display: inherit;
}

.box2 {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
}

.box4{
    position: absolute;
    bottom: 20;
    display: flex;
    /* flex-direction: row; */
    /* align-content: center; */
    align-items: flex-end;
}
.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}
.btn{
    bottom:; 20px;
    font-size: 20px;
    line-height: 0;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

.hide {
	display: none;
}

#image{
    width: 100%;
    height: 70%;
}
  @media (max-width: 880px) {
    .main {
      flex-direction: column;
      justify-content: center;
    }

    span {
      font-size: clamp(0.8rem, 4vw, 1.5rem);
    }

    .cat {
      width: clamp(180px, 50%, 300px);
      height: clamp(180px, 50vw, 300px);
      margin: 0;
    }

    .icon2 {
      left: 50%;
      transform: translateX(-50%);
    }

    .tudo.forms {
      padding-top: 30px;
    }

    .submit {
      width: 64px;
    }
  }
  
  #biog{
    border-bottom: 1px solid #cecece;
    font-size: 18px;
    font-family: 'Wix Madefor Display', sans-serif;
  }
  
  .timeline{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #nomeprof2 {
    display: none;
  }
  
  .block{
      border: none;
      opacity: 1;
      background: transparent;
      outline: none;
      position: absolute;
  }

#message {
    transform: scale(0);
    transition: transform .3s ease;
    color: #000;
    bottom: 10px;
    width: 290px;
    font-size: 15px;
    position: absolute;
    text-align: center;
    margin-top: 15px;
}

.valid {
  color: green;
  margin: 0px;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
  margin: 0px;
}

.invalid:before {
  position: relative;
  left: -35px;
}

h4{
    margin: 5px;
}
  @media (max-width: 600px) {
    .perfil {
      flex-direction: column;
      align-items: center;
    }
    .pic{
        object-fit: fill;
        width: 120px;
        height: 120px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .cropped{
        width: clamp(90px, 50%, 160px);
    }
}
  minlenght {
    background: black;
  }
